<h2>Template-driven form with a directive</h2>
<form #form="ngForm" (ngSubmit)="displayData(form.value)">
  <input type="text" name="ccnumber" ngModel #cc="ngModel" validCreditCard />

  <div
    *ngIf="cc.dirty && cc.errors?.['creditCard'] as creditCardError"
    class="error"
  >
    {{ creditCardError }}
  </div>

  <button type="submit" *ngIf="form.valid">Send info</button>
</form>

<h2>Reactive form with a validation function</h2>
<input type="text" name="creditcardnumber" [formControl]="cardControl" />
<div
  *ngIf="cardControl.dirty && cardControl.errors?.['creditCard'] as creditCardError"
  class="error"
>
  {{ creditCardError }}
</div>
